{% extends 'site.html' %}
{% block title %}{{ LANG.LOST_PASSWORD }}{% endblock %}
{% block content %}
<div class="title">{{ LANG.LOST_PASSWORD }}</div>
<div>{{ LANG.ENTER_EMAIL_RECOVER_PASSWORD }}</div>
<br />
{% if action == 'confirmation' %} 
{{ success_message(LANG.WE_SENT_YOUR_NEW_PASSWORD) }}
{% elseif error_msg != '' %}
{{ error_message(error_msg) }}
{% endif %}
<form method="post" action="{{ getUrl('lost_password','submit') }}">
<input type="hidden" name="csrfhash" value="{{ getToken('lost_password') }}" />
<table width="100%" cellspacing="1" cellpadding="4" border="0">
    <tr>
        <td colspan="2" class="tbl-title"><strong>{{ LANG.ACCOUNT_INFORMATION }}</strong></td>
    </tr>
        <tr>
            <td class="zebraodd" width="180"><span>{{ LANG.EMAIL }}:</span> </td>
            <td><input type="text" name="email" size="30" value="{{ POST.email }}"  /></td>
        </tr>
</table>
{% if settings.use_captcha %}
	<table width="100%" cellspacing="1" cellpadding="4" border="0">
	<tr>
		<td class="tbl-title" colspan="2"><strong>{{ LANG.CAPTCHA_VERIFICATION }}</strong></td>
	</tr>
	<tr>
		<td colspan="2">{{ LANG.ENTER_TEXT_CAPTCHA }}</td>
	</tr>
		<tr>
			<td valign="middle" width="180"><img src="{{ getUrl('') }}/captcha.php" /></td>
			<td valign="middle"><input type="text" name="captcha" size="30" style="text-transform:uppercase" /></td>
		</tr>
	</table>
{% endif %}
<input type="submit" name="btn" value="{{ LANG.SUBMIT }}" >
</form>
{% endblock %}