<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ settings.windows_title }} - {{ LANG.MAINTENANCE_MODE }}</title>
<link href="{{ getUrl('') }}/css/maintenance.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
	<div id="logo"></div>
	<div class="msg_box">
    	{{ LANG.WE_ARE_PERFORMING_MAINTENANCE }}
	</div>
    <div class="footer">
    	Helpdesk Software Powered by <a href="http://www.helpdeskz.com" target="_blank">HelpDeskZ</a>
    </div>
</div>
</body>
</html>