<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(?:controllers|includes|uploads|views)\b.* index.php/$0 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>