<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^(?:controllers|includes|uploads|views)\b.* index.php/$0 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT]
</IfModule>