{% extends 'site.html' %}
{% block title %}{{ LANG.DEPARTMENT_SETTINGS }}{% endblock %}
{% block content %}
{% if error_msg != '' %}{{ error_message(error_msg) }}{% endif %}
{% if params.1 == 'department_added' %}{{ success_message(LANG.NEW_DEPARTMENT_CREATED) }}
{% elseif params.1 == 'department_updated' %}{{ success_message(LANG.DEPARTMENT_UPDATED) }}
{% elseif params.1 == 'department_removed' %}{{ success_message(LANG.DEPARTMENT_REMOVED) }}
{% endif %}
<script type="text/javascript">
	var _departmentUrl = '{{ getUrl(controller,action,['departments','getDepartmentForm',''])|raw }}';
</script>

<div id="tabs">
	<ul>
    	<li id="tab1">{{ LANG.DEPARTMENT }}</li>
    </ul>
    <div id="ctab1">
        	<input type="button" name="btn" value="{{ LANG.ADD_NEW_DEPARTMENT }}" onclick="showDepartmentsForm(0);" /> 
<br />
<br />
    	<table width="100%"  class="widget-table">
		    <thead class="titles">
            <tr>
                <th {% if params.1 == 'name' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['departments','name',(params.2=='desc'?'asc':'desc')])|raw }}">{{ LANG.DEPARTMENT_NAME }}</a></th>
                <th {% if params.1 == 'type' %}class="active"{% endif %} width="200"><a href="{{ getUrl(controller,action,['departments','type',(params.2=='desc'?'asc':'desc')])|raw }}">{{ LANG.TYPE }}</a></th>
                <th  {% if params.1 == 'users' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['departments','users',(params.2=='desc'?'asc':'desc')])|raw }}">{{ LANG.USERS }}</a></th>
                <th  {% if params.1 == 'tickets' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['departments','tickets',(params.2=='desc'?'asc':'desc')])|raw }}">{{ LANG.TICKETS }}</a></th>
                <th  {% if params.1 == 'dep_order' %}class="active"{% endif %} width="200"><a href="{{ getUrl(controller,action,['departments','dep_order',(params.2=='desc'?'asc':'desc')])|raw }}">{{ LANG.DISPLAY_ORDER }}</a></th>
                <th width="200"><a href="javascript:void(0">{{ LANG.AUTOASSING_TICKETS_PIPE }}</a></th>
                <th></th>
            </tr>
            </thead>
            {% if departments|is_array %}
            {% for r in departments %}
            {% set tdclass = (tdclass == 'trzebra'?'':'trzebra') %}
            <tr class="{{ tdclass }}">
                    <td><a href="javascript:void(0);" onclick="showDepartmentsForm({{ r.id }});">{{ r.name }}</a></td>
                    <td align="center">{% if r.type == 0 %}{{ LANG.PUBLIC }}{% else %}{{ LANG.PRIVATE }}{% endif %}</td>
                    <td align="center">{{ r.users }}</td>
                    <td align="center">{{ r.tickets }}</td>
                    <td align="center">{{ r.dep_order }}</td>
                    <td align="center">{% if r.autoassign == 1 %}{{ LANG.SELECTED }}{% else %}-{% endif %}</td>
					<td>
  		        {% if r.dep_order != 1 %}<a href="{{ getUrl(controller, action, ['departments','move_department','up',r.id])|raw }}"><img src="{{ getUrl('') }}/images/cp/up.png" /></a>{% endif %}
                {% if r.dep_order != last_position %}<a href="{{ getUrl(controller, action, ['departments','move_department','down',r.id])|raw }}"><img src="{{ getUrl('') }}/images/cp/down.png" /></a>{% endif %}
                
                    {% if r.id != 1 %}
                    <a href="{{ getUrl(controller, action, ['departments','delete_department',r.id])|raw }}" onclick="if(!confirm('{{ LANG.CONFIRM_REMOVE }}')){return false } "><img src="{{ getUrl('') }}/images/cp/crossout.png" /></a>{% endif %}</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr><td colspan="9"><i>{{ LANG.NOTHING_TO_DISPLAY }}</i></td></tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}