{% extends 'site.html' %}
{% block title %}{{ LANG.TICKET_SETTINGS }}{% endblock %}
{% block content %}
{% if error_msg != '' %}{{ error_message(error_msg) }}{% endif %}
{% if params.1 == 'general_updated' %}{{ success_message(LANG.TICKET_SETTINGS_UPDATED) }}
{% elseif params.1 == 'file_inserted' %}{{ success_message(LANG.NEW_FILE_TYPE_INSERTED) }}
{% elseif params.1 == 'filetype_removed' %}{{ success_message(LANG.FILE_TYPE_REMOVED) }}
{% elseif params.1 == 'file_updated' %}{{ success_message(LANG.FILE_TYPE_UPDATED) }}
{% elseif params.1 == 'customfield_added' %}{{ success_message(LANG.CUSTOM_FIELD_ADDED) }}
{% elseif params.1 == 'customfield_updated' %}{{ success_message(LANG.CUSTOM_FIELD_UPDATED) }}
{% elseif params.1 == 'customfield_deleted' %}{{ success_message(LANG.CUSTOM_FIELD_REMOVED) }}
{% endif %}
<script type="text/javascript">
	var csrfhash = '{{ getToken('ticket_settings') }}'; 
	var _fileTypeUrl = '{{ getUrl(controller,action,['tickets','getFileTypeForm',''])|raw }}';
	var _customFieldUrl = '{{ getUrl(controller,action,['tickets','getCustomFieldForm',''])|raw }}';
	$(function(){
		$(".csrfhash").val(csrfhash);
	});
</script>
<div id="tabs">
	<ul>
    	<li id="tab1">{{ LANG.GENERAL }}</li>
        <li id="tab2">{{ LANG.FILE_TYPES }}</li>
        <li id="tab3">{{ LANG.CUSTOM_FIELDS }}</li>
    </ul>
    <div id="ctab1">
    	<form method="post" action="{{ getUrl(controller,action,['tickets','update_general#ctab1'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
    	<table class="widget-table-form">
            <tr>
            	<td>{{ LANG.DISPLAY_ORDER_TICKET_REPLIES }}<br />
                <span class="description">{{ LANG.DISPLAY_ORDER_TICKET_REPLIES_TXT }}</span></td>
                <td><select name="show_tickets">
                <option value="DESC" {% if settings.show_tickets == 'DESC' %}selected{% endif %}>{{ LANG.NEWEST_REPLY_FIRST }}</option>
                <option value="ASC" {% if settings.show_tickets == 'ASC' %}selected{% endif %}>{{ LANG.OLDEST_REPLY_FIRST }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.ALLOW_REOPEN_CLOSED_TICKET }}<br />
                <span class="description">{{ LANG.ALLOW_REOPEN_CLOSED_TICKET_TXT }} </span>
                </td>
                <td valign="top" align="left">
				<select name="ticket_reopen">
                <option value="0" {% if settings.ticket_reopen == '0' %}selected{% endif %}>{{ LANG.NO }}</option>
                <option value="1" {% if settings.ticket_reopen != '0' %}selected{% endif %}>{{ LANG.YES }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.TICKETS_PER_PAGE }}<br />
                <span class="description">{{ LANG.TICKETS_PER_PAGE_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="tickets_page" value="{{ settings.tickets_page }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.TICKETS_REPLIES_PER_PAGE }}<br />
                <span class="description">{{ LANG.TICKETS_REPLIES_PER_PAGE_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="tickets_replies" value="{{ settings.tickets_replies }}" size="30" />
                </td>
            </tr>
            
        	<tr>
            	<td>{{ LANG.DEFAULT_REPLY_TIME_DEADLINE }}<br />
                <span class="description">{{ LANG.DEFAULT_REPLY_TIME_DEADLINE_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="overdue_time" value="{{ settings.overdue_time }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.DEFAULT_TIME_CLOSE_TICKET }}<br />
                <span class="description">{{ LANG.DEFAULT_TIME_CLOSE_TICKET_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="closeticket_time" value="{{ settings.closeticket_time }}" size="30" />
                </td>
            </tr>
            <tr>
            	<td>{{ LANG.CAN_ATTACH_FILES_TICKETS }}<br />
                <span class="description">{{ LANG.CAN_ATTACH_FILES_TICKETS_TXT }}</span></td>
                <td><select name="ticket_attachment">
                <option value="1" {% if settings.ticket_attachment == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="0" {% if settings.ticket_attachment != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                	<input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="ctab2">
    	<form method="post" action="{{ getUrl(controller,action,['tickets','delete_filetype#ctab2'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
        	<input type="button" name="btn" value="{{ LANG.ADD_NEW_FILE_TYPE }}" onclick="showFileTypeForm(0);" /> 
<br />
<br />
    	<table width="100%"  class="widget-table">
		    <thead class="titles">
            <tr>
                <th width="26"><input type="checkbox" id="selectall" /></th>
                <th {% if params.1 == 'type' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['tickets','type',(params.2=='desc'?'asc':'desc')~'#ctab2'])|raw }}">{{ LANG.FILE_EXTENSION }}</a></th>
                <th {% if params.1 == 'size' %}class="active"{% endif %} width="200"><a href="{{ getUrl(controller,action,['tickets','size',(params.2=='desc'?'asc':'desc')~'#ctab2'])|raw }}">{{ LANG.MAXIMUM_SIZE }}</a></th>
            </tr>
            </thead>
            {% for r in file_types %}
			{% set tdclass =(tdclass == 'trzebra'?'':'trzebra') %}
            <tr class="{{ tdclass }}">
                <td width="15"><input type="checkbox" name="filetype_id[]" value="{{ r.id }}" class="checkall"></td>
                <td><a href="javascript:void(0);" onclick="showFileTypeForm({{ r.id }});">{{ r.type }}</a></td>
                <td align="center">{% if r.size == 0 %}-- No limit --{% else %}{{ formatBytes(r.size) }}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        
<div id="options" style="margin-top:20px; display:none;">
    <div id="tabs2">
        <ul>
            <li>{{ LANG.MASS_ACTION }}</li>
        </ul>
        <div id="tab1">
            <div id="ctab1">
                <table  class="widget-table-form">
                    <tr>
                        <td width="200">{{ LANG.REMOVE }}:</td>
                        <td>
                        <select name="remove">
                            <option value="">-- {{ LANG.NO }} --</option>
                            <option value="1">{{ LANG.YES }}</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" name="btn" value="{{ LANG.SUBMIT }}" /></td>
                    </tr>
                </table>
            </div>
        </div>
	</div>
</div>
        </form>
    </div>
    <div id="ctab3">
        	<input type="button" name="btn" value="{{ LANG.ADD_NEW_CUSTOM_FIELD }}" onclick="showCustomFieldForm(0);" /> 
<br />
<br />
    	<table width="100%"  class="widget-table">
		    <thead class="titles">
            <tr>
                <th>{{ LANG.FIELD_TITLE }}</th>
                <th width="200">{{ LANG.FIELD_TYPE }}</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            {% if custom_fields|is_array %}
            {% for r in custom_fields %}
			{% set tdclass = (tdclass == 'trzebra'?'':'trzebra') %}
            <tr class="{{ tdclass }}">
                <td><a href="javascript:void(0);" onclick="showCustomFieldForm({{ r.id }});">{{ r.title }}</a></td>
                <td>{{ r.type|capitalize }}</td>
                <td align="left">
  		        {% if r.display != 1 %}<a href="{{ getUrl(controller, action, ['tickets','move_customfield','up',r.id])|raw }}"><img src="{{ getUrl('') }}/images/cp/up.png" /></a>{% endif %}
                {% if r.display != last_position %}<a href="{{ getUrl(controller, action, ['tickets','move_customfield','down',r.id])|raw }}"><img src="{{ getUrl('') }}/images/cp/down.png" /></a>{% endif %}
                 <a href="{{ getUrl(controller, action, ['tickets','delete_customfield',r.id])|raw }}" onclick="if(!confirm('{{ LANG.CONFIRM_REMOVE }}')){return false } "><img src="{{ getUrl('') }}/images/cp/crossout.png" /></a>
                </td>
            </tr>
			{% endfor %}
            {% else %}
            <tr><td colspan="3"><i>{{ LANG.NOTHING_TO_DISPLAY }}</i></td></tr>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}