{% extends 'site.html' %}
{% block title %}{{ LANG.STAFF_SETTINGS }}{% endblock %}
{% block content %}
{% if error_msg != '' %}{{ error_message(error_msg) }}{% endif %}
{% if params.1 == 'account_created' %}{{ success_message(LANG.NEW_ACCOUNT_CREATED) }}
{% elseif params.1 == 'account_updated' %}{{ success_message(LANG.ACCOUNT_UPDATED) }}
{% elseif params.1 ==  'account_removed' %}{{ success_message(LANG.ACCOUNT_REMOVED) }}
{% endif %}
<script type="text/javascript">
	var _staffUrl = '{{ getUrl(controller,action,['staff','getStaffForm',''])|raw }}';
</script>
<div id="tabs">
	<ul>
    	<li id="tab1">{{ LANG.STAFF }}</li>
    </ul>
    <div id="ctab1">
        	<input type="button" name="btn" value="{{ LANG.ADD_NEW_ACCOUNT }}" onclick="showStaffForm(0);" /> 
<br />
<br />
    	<table width="100%"  class="widget-table">
		    <thead class="titles">
            <tr>
                <th {% if params.1 == 'fullname' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['staff','fullname',(params.2 =='desc'?'asc':'desc')])|raw }}">{{ LANG.NAME }}</a></th>
                <th {% if params.1 == 'email' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['staff','email',(params.2 =='desc'?'asc':'desc')])|raw }}">{{ LANG.EMAIL }}</a></th>
                <th {% if params.1 == 'username' %}class="active"{% endif %} width="200"><a href="{{ getUrl(controller,action,['staff','username',(params.2 =='desc'?'asc':'desc')])|raw }}">{{ LANG.USERNAME }}</a></th>
                <th {% if params.1 == 'admin' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['staff','admin',(params.2 =='desc'?'asc':'desc')])|raw }}">{{ LANG.ADMINISTRATOR }}</a></th>
                <th {% if params.1 == 'login' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['staff','login',(params.2 =='desc'?'asc':'desc')])|raw }}">{{ LANG.LAST_LOGIN }}</a></th>
                <th {% if params.1 == 'status' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['staff','status',(params.2 =='desc'?'asc':'desc')])|raw }}">{{ LANG.STATUS }}</a></th>
                <th></th>
            </tr>
            </thead>
        	{% for r in accounts %}
			{% set tdclass = (tdclass == 'trzebra'?'':'trzebra') %}
            <tr class="{{ tdclass }}">
                <td><a href="javascript:void(0);" onclick="showStaffForm({{ r.id }});">{{ r.fullname }}</a></td>
                <td>{{ r.email }}</td>
                <td>{{ r.username }}</td>
                <td align="center">{% if r.admin == 1 %}<span style="color:green">{{ LANG.YES }}</span>{% else %}<span style="color:red">{{ LANG.NO }}</span>{% endif %}</td>
                <td>{% if r.login == 0 %}-{% else %}{{ displayDate(r.login) }}{% endif %}</td>
                <td align="center">{% if r.status == 'Enable' %}{{ LANG.ACTIVE }}{% else %}{{ LANG.LOCKED }}{% endif %}</td>
                <td align="center">{% if r.id != staff.id %}<a href="{{ getUrl(controller, action, ['staff','remove_account',r.id])|raw }}" onclick="if(!confirm('{{ LANG.CONFIRM_REMOVE }}')){return false } "><img src="{{ getUrl('') }}/images/cp/crossout.png" /></a>{% endif %}</td>
            </tr>
			{% endfor %}
        </table>
    </div>
</div>
{% endblock %}