{% extends 'site.html' %}
{% block title %}{{ LANG.GENERAL_SETTINGS }}{% endblock %}
{% block content %}
{% if error_msg != '' %}{{ error_message(error_msg) }}{% endif %}
{% if params.1 == 'helpdesk_updated' %}{{ success_message(LANG.HELPDESK_SETTINGS_UPDATED) }}
{% elseif params.1 == 'homepage_updated' %}{{ success_message(LANG.HOME_SETTINGS_UPDATED) }}
{% elseif params.1 == 'knowledgebase_updated' %}{{ success_message(LANG.KNOWLEDGEBASE_SETTINGS_UPDATED) }}
{% elseif params.1 == 'news_updated' %}{{ success_message(LANG.NEWS_SETTINGS_UPDATED) }}
{% elseif params.1 == 'email_updated' %}{{ success_message(LANG.EMAIL_SETTINGS_UPDATED) }}
{% elseif params.1 == 'security_updated' %}{{ success_message(LANG.SECURITY_SETTINGS_UPDATED) }}
{% endif %}
<script type="text/javascript" src="{{ getUrl() }}/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
	theme: "modern",
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
toolbar: "insertfile undo redo | styleselect | bold italic underline | fontsizeselect fontselect | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    font_formats: "Andale Mono=andale mono,times;"+
        "Arial=arial,helvetica,sans-serif;"+
        "Arial Black=arial black,avant garde;"+
        "Book Antiqua=book antiqua,palatino;"+
        "Comic Sans MS=comic sans ms,sans-serif;"+
        "Courier New=courier new,courier;"+
        "Georgia=georgia,palatino;"+
        "Helvetica=helvetica;"+
        "Impact=impact,chicago;"+
        "Symbol=symbol;"+
        "Tahoma=tahoma,arial,helvetica,sans-serif;"+
        "Terminal=terminal,monaco;"+
        "Times New Roman=times new roman,times;"+
        "Trebuchet MS=trebuchet ms,geneva;"+
        "Verdana=verdana,geneva;"+
        "Webdings=webdings;"+
        "Wingdings=wingdings,zapf dingbats",
 });

	var csrfhash = '{{ getToken('general_settings') }}'; 
	$(function(){
		$(".csrfhash").val(csrfhash);
        checksocialdetails('facebook');
        checksocialdetails('google');
	});
</script>
<div id="tabs">
	<ul>
    	<li id="tab1">{{ LANG.HELPDESK }}</li>
        <li id="tab2">{{ LANG.HOME_PAGE }}</li>
        <li id="tab3">{{ LANG.KNOWLEDGEBASE }}</li>
        <li id="tab4">{{ LANG.NEWS }}</li>
        <li id="tab5">{{ LANG.EMAIL }}</li>
        <li id="tab6">{{ LANG.SECURITY }}</li>
        <li id="tab7">{{ LANG.SOCIAL }}</li>
    </ul>
	<div id="ctab1">
    	<form method="post" action="{{ getUrl(controller,action,['general','update_helpdesk'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
    	<table class="widget-table-form" cellspacing="4">
        	<tr>
            	<td width="40%">{{ LANG.COMPANY_NAME }}<br />
                <span class="description">{{ LANG.COMPANY_NAME_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="site_name" value="{{ settings.site_name }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.HELPDESK_BASE_URL }}<br />
                <span class="description">{{ LANG.HELPDESK_BASE_URL_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="site_url" value="{{ settings.site_url }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.WEBSITE_TITLE }}<br />
                <span class="description">{{ LANG.WEBSITE_TITLE_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="windows_title" value="{{ settings.windows_title }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td valign="top">{{ LANG.DEFAULT_RETURN_EMAIL }}<br />
                <span class="description">{{ LANG.DEFAULT_RETURN_EMAIL_TXT }}</span>
                </td>
                <td valign="top" align="left"><input type="text" name="email_ticket" value="{{ settings.email_ticket }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.DEFAULT_PAGE_SIZE }}<br />
                <span class="description">{{ LANG.DEFAULT_PAGE_SIZE_TXT }}</span>
                </td>
                <td valign="top" align="left">
                <select name="page_size">
                {% for i in pagesize %}
                    {% if i == settings.page_size %}
                    <option value="{{ i }}" selected>{{ i }}</option>
                    {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.DEFAULT_TIMEZONE }}<br />
                <span class="description">{{ LANG.DEFAULT_TIMEZONE_TXT }}</span>
                </td>
                <td valign="top" align="left">
                <select name="timezone">
                    <option value="">-- {{ LANG.DEFAULT_TIMEZONE }} --</option>
                    {% for t in timezone %}
                        {% if t == settings.timezone %}
                        <option value="{{ t }}" selected="selected">{{ t }}</option>
                        {% else %}
                        <option value="{{ t }}">{{ t }}</option>
                        {% endif %}
                   	{% endfor %}
                </select>
                </td>
            </tr>
        	<tr>
            	<td valign="top">{{ LANG.DATE_FORMAT }}<br />
                <span class="description">{{ LANG.DEFINE_DATE_FORMAT }} <a href="http://php.net/manual/en/function.date.php" target="_blank">{{ LANG.SEE_PHP_DATE_FORMAT }}</a></span>
                </td>
                <td valign="top" align="left"><input type="text" name="date_format" value="{{ settings.date_format }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td valign="top">{{ LANG.USE_SEO_URL }}<br />
                <span class="description">{{ LANG.USE_SEO_URL_TXT }}</span>
                </td>
                <td>
				<select name="permalink">
                <option value="1" {% if settings.permalink == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="0" {% if settings.permalink != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select><br />
<span class="description"> {{ LANG.HTACCESS_CONTENT_MODIFICATION }}<br />
 <p>&lt;IfModule mod_rewrite.c&gt;<br />
   RewriteEngine On<br />
   RewriteRule ^(?:controllers|includes|uploads|views)\b.* index.php/$0 [L]<br />
   RewriteCond %{REQUEST_FILENAME} !-f<br />
   RewriteCond %{REQUEST_FILENAME} !-d<br />
   RewriteRule ^(.*)$ index.php/$1 [L]<br />
   &lt;/IfModule&gt;</span></td>

                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.ACTIVATE_MAINTENANCE_MODE }}<br />
                <span class="description">{{ LANG.ACTIVATE_MAINTENANCE_MODE_TXT }}</span>
                </td>
                <td>
				<select name="maintenance">
                <option value="1" {% if settings.maintenance == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="0" {% if settings.maintenance != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.DEFAULT_HELPDESK_LANGUAGE }}<br />
                <span class="description">{{ LANG.DEFAULT_HELPDESK_LANGUAGE_TXT }}</span>
                </td>
                <td>
				<select name="client_language">
                {% for lang in client_languages %}
                <option value="{{ lang }}" {% if settings.client_language == lang %}selected{% endif %}>{{ lang|capitalize }}</option>
                {% endfor %}
                </select>
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.ALLOW_CHANGE_LANGUAGE }}<br />
                <span class="description">{{ LANG.ALLOW_CHANGE_LANGUAGE_TXT }}</span>
                </td>
                <td>
				<select name="client_multilanguage">
                <option value="0" {% if settings.client_multilanguage == 0 %}selected{% endif %}>{{ LANG.NO }}</option>
                <option value="1" {% if settings.client_multilanguage == 1 %}selected{% endif %}>{{ LANG.YES }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.DEFAULT_HELPDESK_STAFF_LANGUAGE }}<br />
                <span class="description">{{ LANG.DEFAULT_HELPDESK_STAFF_LANGUAGE_TXT }}</span>
                </td>
                <td>
				<select name="staff_language">
                {% for lang in staff_languages %}
                <option value="{{ lang }}" {% if settings.staff_language == lang %}selected{% endif %}>{{ lang|capitalize }}</option>
                {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                	<input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="ctab2">
		<form method="post" action="{{ getUrl(controller,action,['general','update_homepage#ctab2'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
    	<table class="widget-table-form">
            <tr>
            	<td>{{ LANG.PAGE_TO_DISPLAY_HOME }}<br />
                <span class="description">{{ LANG.PAGE_TO_DISPLAY_HOME_TXT }}</span></td>
                <td><select name="homepage">
                <option value="news" {% if settings.homepage == 'news' %}selected{% endif %}>{{ LANG.NEWS }}</option>
                <option value="knowledgebase" {% if settings.homepage == 'knowledgebase' %}selected{% endif %}>{{ LANG.KNOWLEDGEBASE }}</option>
                <option value="custom" {% if settings.homepage != 'knowledgebase' and settings.homepage != 'news' %}selected{% endif %}>{{ LANG.CUSTOM }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.CUSTOM_PAGE_TITLE }}<br />
                <span class="description">{{ LANG.CUSTOM_PAGE_TITLE_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="home_title" value="{{ homepage.title }}" style="width:100%" />
                </td>
            </tr>
        	<tr>
            	<td colspan="2">{{ LANG.CUSTOM_HOME_PAGE_CONTENT }}</td>
            </tr>
			<tr>
            	<td colspan="2">
                <textarea style="height:500px;" name="home_content">{{ homepage.content }}</textarea>
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                	<input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="ctab3">
    	<form method="post" action="{{ getUrl(controller,action,['general','update_knowledgebase#ctab3'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
    	<table class="widget-table-form">
            <tr>
            	<td>{{ LANG.KNOWLEDGEBASE_STATUS }}<br />
                <span class="description">{{ LANG.KNOWLEDGEBASE_STATUS_TXT }}</span></td>
                <td><select name="knowledgebase">
                <option value="yes" {% if settings.knowledgebase == 'yes' %}selected{% endif %}>{{ LANG.ENABLE }}</option>
                <option value="no" {% if settings.knowledgebase != 'yes' %}selected{% endif %}>{{ LANG.DISABLE }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.NUMBER_CATEGORY_COLUMNS }}<br />
                <span class="description">{{ LANG.NUMBER_CATEGORY_COLUMNS_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="knowledgebase_columns" value="{{ settings.knowledgebase_columns }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.NUMBER_ARTICLE_UNDER_CATEGORY }}</td>
                <td valign="top" align="left">
                	<input type="text" name="knowledgebase_articlesundercat" value="{{ settings.knowledgebase_articlesundercat }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.ARTICLE_CHARACTER_LIMIT }}<br />
                <span class="description">{{ LANG.ARTICLE_CHARACTER_LIMIT_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="knowledgebase_articlemaxchar" value="{{ settings.knowledgebase_articlemaxchar }}" size="30" />
                </td>
            </tr>
            <tr>
            	<td>{{ LANG.LIST_POPULAR_ARTICLES }}<br />
                <span class="description">{{ LANG.LIST_POPULAR_ARTICLES_TXT }}</span></td>
                <td><select name="knowledgebase_mostpopular">
                <option value="yes" {% if settings.knowledgebase_mostpopular == 'yes' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="no" {% if settings.knowledgebase_mostpopular != 'yes' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
            <tr>
            	<td>{{ LANG.NUMBER_POPULAR_ARTICLES }}</td>
                <td><input type="text" name="knowledgebase_mostpopulartotal" value="{{ settings.knowledgebase_mostpopulartotal }}" size="30" />
                </td>
            </tr>
            <tr>
            	<td>{{ LANG.LIST_LASTEST_ARTICLES }}<br />
                <span class="description">{{ LANG.LIST_LASTEST_ARTICLES_TXT }}</span></td>
                <td><select name="knowledgebase_newest">
                <option value="yes" {% if settings.knowledgebase_newest == 'yes' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="no" {% if settings.knowledgebase_newest != 'yes' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
            <tr>
            	<td>{{ LANG.NUMBER_LASTEST_ARTICLES }}</td>
                <td><input type="text" name="knowledgebase_newesttotal" value="{{ settings.knowledgebase_newesttotal }}" size="30" />
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                	<input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="ctab4">
    	<form method="post" action="{{ getUrl(controller,action,['general','update_news#ctab4'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
    	<table class="widget-table-form">
            <tr>
            	<td>{{ LANG.NEWS_STATUS }}<br />
                <span class="description">{{ LANG.NEWS_STATUS_TXT }}</span></td>
                <td><select name="news">
                <option value="yes" {% if settings.news == 'yes' %}selected{% endif %}>{{ LANG.ENABLE }}</option>
                <option value="no" {% if settings.news != 'yes' %}selected{% endif %}>{{ LANG.DISABLE }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.NUMBER_OF_NEWS_ARTICLES }}<br />
                <span class="description">{{ LANG.NUMBER_OF_NEWS_ARTICLES_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="news_page" value="{{ settings.news_page }}" size="30" />
                </td>
            </tr>

            <tr>
            	<td colspan="2">
                	<input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="ctab5">
    	<form method="post" action="{{ getUrl(controller,action,['general','update_email#ctab5'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
    	<table class="widget-table-form">
        	<tr>
            	<td>{{ LANG.EMAIL_PIPING }}<br />
                <span class="description">{{ LANG.EMAIL_PIPING_TXT }}</span>
                </td>
                <td>
				<select name="email_piping">
                <option value="yes" {% if settings.email_piping == 'yes' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="no" {% if settings.email_piping != 'yes' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
            <tr>
            	<td>{{ LANG.USE_SMTP }}<br />
                <span class="description">{{ LANG.USE_SMTP_TXT }}</span></td>
                <td><select name="smtp">
                <option value="yes"  {% if settings.smtp == 'yes' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="no" {% if settings.smtp != 'yes' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.SMTP_HOSTNAME }}<br />
                <span class="description">{{ LANG.SMTP_HOSTNAME_EXAMPLE }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="smtp_hostname" value="{{ settings.smtp_hostname }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.SMTP_PORT }}<br />
                <span class="description">{{ LANG.SMTP_PORT_INFO }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="smtp_port" value="{{ settings.smtp_port }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.SMTP_SSL_TYPE }}<br />
                <span class="description">{{ LANG.SMTP_SSL_TYPE_TXT }}</span>
                </td>
                <td valign="top" align="left">
				<select name="smtp_ssl">
                <option value="" {% if settings.smtp_ssl != 'ssl' and settings.smtp_ssl != 'tls' %}selected{% endif %}>{{ LANG.NONE }}</option>
                <option value="ssl" {% if settings.smtp_ssl == 'ssl' %}selected{% endif %}>SSL</option>
                <option value="tls" {% if settings.smtp_ssl == 'tls' %}selected{% endif %}>TLS</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.SMTP_USERNAME }}<br />
                </td>
                <td valign="top" align="left">
                	<input type="text" name="smtp_username" value="{{ settings.smtp_username }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.SMTP_PASSWORD }}<br />
                </td>
                <td valign="top" align="left">
                	<input type="password" name="smtp_password" value="{{ settings.smtp_password }}" size="30" />
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                	<input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="ctab6">
    	<form method="post" action="{{ getUrl(controller,action,['general','update_security#ctab6'])|raw }}">
        <input type="hidden" name="csrfhash" class="csrfhash" />
    	<table class="widget-table-form">
        	<tr>
            	<td>{{ LANG.USE_CAPTCHA_VERIFICATION }}<br />
                <span class="description">{{ LANG.USE_CAPTCHA_VERIFICATION_TXT }}</span>
                </td>
                <td>
				<select name="use_captcha">
                <option value="1" {% if settings.use_captcha == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="0" {% if settings.use_captcha != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.MAXIMUM_LOGIN_ATTEMPTS }}<br />
                <span class="description">{{ LANG.MAXIMUM_LOGIN_ATTEMPTS_TXT }}</span>
                </td>
                <td valign="top" align="left">
                	<input type="text" name="login_attempt" value="{{ settings.login_attempt }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td width="40%">{{ LANG.MINUTES_IP_LOCKING }}<br />
                </td>
                <td valign="top" align="left">
                	<input type="text" name="login_attempt_minutes" value="{{ settings.login_attempt_minutes }}" size="30" />
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.USE_LOGINSHARE }}<br />
                <span class="description">{{ LANG.USE_LOGINSHARE_TXT }}</span>
                </td>
                <td>
				<select name="loginshare">
                <option value="1" {% if settings.loginshare == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                <option value="0" {% if settings.loginshare != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                </select>
                </td>
            </tr>
        	<tr>
            	<td>{{ LANG.LOGINSHARE_URL }}<br />
                <span class="description">{{ LANG.LOGINSHARE_URL_TXT }}</span>
                </td>
                <td>
				<input type="text" name="loginshare_url" value="{{ settings.loginshare_url }}" size="30" />
                </td>
            </tr>
            <tr>
            	<td colspan="2">
                	<input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div id="ctab7">
        <form method="post" action="{{ getUrl(controller,action,['general','update_social#ctab7'])|raw }}">
            <input type="hidden" name="csrfhash" class="csrfhash" />
            <table class="widget-table-form">
                <tr>
                    <td width="40%">{{ LANG.USE_FACEBOOK_LOGIN }}<br />
                        <span class="description">{{ LANG.USE_FACEBOOK_LOGIN_TXT }}</span>
                    </td>
                    <td>
                        <select name="facebookoauth" id="facebookoauth" onchange="checksocialdetails('facebook');">
                            <option value="1" {% if settings.facebookoauth == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                            <option value="0" {% if settings.facebookoauth != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                        </select>
                    </td>
                </tr>
                <tr id="facebook_tr1">
                    <td>{{ LANG.FACEBOOK_APP_ID }}</td>
                    <td>
                        <input type="text" name="facebookappid" value="{{ settings.facebookappid }}" size="30">
                    </td>
                </tr>
                <tr id="facebook_tr2">
                    <td>{{ LANG.FACEBOOK_APP_SECRET }}</td>
                    <td>
                        <input type="password" name="facebookappsecret" value="{{ settings.facebookappsecret }}" size="30">
                    </td>
                </tr>

                <tr>
                    <td width="40%">{{ LANG.USE_GOOGLE_OAUTH }}<br />
                        <span class="description">{{ LANG.USE_GOOGLE_OAUTH_TXT }}</span>
                    </td>
                    <td>
                        <select name="googleoauth" id="googleoauth" onchange="checksocialdetails('google');">
                            <option value="1" {% if settings.googleoauth == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                            <option value="0" {% if settings.googleoauth != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                        </select>
                    </td>
                </tr>
                <tr id="google_tr1">
                    <td>{{ LANG.GOOGLE_CLIENT_ID }}</td>
                    <td>
                        <input type="text" name="googleclientid" value="{{ settings.googleclientid }}" size="30">
                    </td>
                </tr>
                <tr id="google_tr2">
                    <td>{{ LANG.GOOGLE_CLIENT_SECRET }}</td>
                    <td>
                        <input type="password" name="googleclientsecret" value="{{ settings.googleclientsecret }}" size="30">
                    </td>
                </tr>
                <tr id="google_tr3">
                    <td>{{ LANG.GOOGLE_REDIRECT_URIS }}</td>
                    <td>
                        {{ settings.site_url }}/googleOAuth/
                    </td>
                </tr>
                <tr>
                    <td>{{ LANG.USE_SOCIAL_BUTTONS_NEWS }}<br />
                        <span class="description">{{ LANG.USE_SOCIAL_BUTTONS_NEWS_TXT }}</span>
                    </td>
                    <td>
                        <select name="socialbuttonnews">
                            <option value="1" {% if settings.socialbuttonnews == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                            <option value="0" {% if settings.socialbuttonnews != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{ LANG.USE_SOCIAL_BUTTONS_KB }}<br />
                        <span class="description">{{ LANG.USE_SOCIAL_BUTTONS_KB_TXT }}</span>
                    </td>
                    <td>
                        <select name="socialbuttonkb">
                            <option value="1" {% if settings.socialbuttonkb == '1' %}selected{% endif %}>{{ LANG.YES }}</option>
                            <option value="0" {% if settings.socialbuttonkb != '1' %}selected{% endif %}>{{ LANG.NO }}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="btn" value="{{ LANG.UPDATE }}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}