{% extends 'site.html' %}
{% block title %}{{ LANG.EDIT_ARTICLE }}{% endblock %}
{% block content %}
{% if article_cat|is_numeric %}
<script type="text/javascript">
$(function(){
$('#selector option[value="{{ article_cat }}"]').attr('selected', 'selected');
});
</script>
{% endif %}
<script type="text/javascript" src="{{ getUrl() }}/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
	theme: "modern",
	relative_urls: false,	
	remove_script_host: false,
	convert_urls : true,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
toolbar: "insertfile undo redo | styleselect | bold italic underline | fontsizeselect fontselect | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    font_formats: "Andale Mono=andale mono,times;"+
        "Arial=arial,helvetica,sans-serif;"+
        "Arial Black=arial black,avant garde;"+
        "Book Antiqua=book antiqua,palatino;"+
        "Comic Sans MS=comic sans ms,sans-serif;"+
        "Courier New=courier new,courier;"+
        "Georgia=georgia,palatino;"+
        "Helvetica=helvetica;"+
        "Impact=impact,chicago;"+
        "Symbol=symbol;"+
        "Tahoma=tahoma,arial,helvetica,sans-serif;"+
        "Terminal=terminal,monaco;"+
        "Times New Roman=times new roman,times;"+
        "Trebuchet MS=trebuchet ms,geneva;"+
        "Verdana=verdana,geneva;"+
        "Webdings=webdings;"+
        "Wingdings=wingdings,zapf dingbats",
 });
</script>
{% include 'knowledgebase_leftbar.html' %}
<div style="margin-left:260px;">
	{% if error_msg != '' %}{{ error_message(error_msg) }}{% endif %}
    {% if params.3 == 'updated' %}{{ success_message(LANG.ARTICLE_UPDATED) }}
    {% elseif params.3 == 'attached_removed' %}{{ success_message(LANG.ATTACHMENT_REMOVED) }}
    {% endif %}
	<div id="tabs">
    	<ul>
        	<li>{{ LANG.EDIT_ARTICLE }}</li>
        </ul>
        <div>
        	<form method="post" action="{{ getUrl(controller,action,['manage','edit',article_id,'update'])|raw }}" enctype="multipart/form-data">
            <input type="hidden" name="csrfhash" value="{{ getToken('article') }}" />
            <table  class="widget-table-form">
                <tr>
                    <td width="250">{{ LANG.ARTICLE_TITLE }}</td>
                    <td><input type="text" name="title" style="width:100%" value="{{ article_title }}" /></td>
                </tr>
                <tr>
                	<td>{{ LANG.CATEGORY }}</td>
                    <td>
                    	<select name="category" id="selector">
        <option value=0 selected="selected">{{ LANG.ROOT_CATEGORY }}</option>
        {% for selector in selector %}
        <option value="{{ selector.id }}">{{ selector.name }}</option>
        {% endfor %}
        </select>
                    </td>
                </tr>
                <tr>
                	<td>{{ LANG.TYPE }}</td>
                    <td><input type="radio" name="public" value="1" {% if article.public == 1 %}checked{% endif %} /> {{ LANG.PUBLIC }}
                    	<input type="radio" name="public" value="0" {% if article.public == 0 %}checked{% endif %} /> {{ LANG.PRIVATE }}
                    </td>
                </tr>
                <tr>
                	<td colspan="2">
                    <textarea style="height:500px;" name="content">{{ article_content }}</textarea>
                    </td>
                </tr>
                <tr>
                	<td valign="top">{{ LANG.ATTACHMENTS }}</td>
                    <td>
                    <div><input type="file" name="file1" /></div>
                    <div><input type="file" name="file2" /></div>
                    <div><input type="file" name="file3" /></div>
                    </td>
                </tr>                   
                {% if attachments|is_array %}
				<tr>
					<td valign="top">{{ LANG.ATTACHED_FILES }}</td>
					<td>
                    {% for file in attachments %}
					<div><span class="ticket_icon_trash" onclick="location.href='{{ getUrl(controller,action,['manage','edit',article_id,'remove_attachment',file.id])|raw }}'";></span>{{ file.name}} ({{ file.filesize }})</div>
                    {% endfor %}
                    </td>
				</tr>
               	{% endif %}
                <tr>
                	<td></td>
                    <td><input type="submit" name="btn" value="{{ LANG.UPDATE }}" /></td>
                </tr>
            </table>
        	</form>
        </div>
    </div>

</div>
<div class="clear"></div>
{% endblock %}