{% extends 'site.html' %}
{% block title %}{{ LANG.MANAGE_USERS }}{% endblock %}
{% block content %}
{% if error_msg != '' %}{{ error_message(error_msg) }}{% endif %}
<script>
	var csrfhash = '{{ getToken('users') }}'; 
	var _usersURL = '{{ getUrl(controller, action, ['manage','GetUsersForm',''])|raw }}';
	$(document).ready(function(){
		$(".csrfhash").val(csrfhash);
	});
</script>
<input type="button" name="d" value="{{ LANG.ADD_NEW_USER }}" onclick="showUserForm(0);" /><br /><br />
<form method="post" action="{{ getUrl(controller,action,['manage','page',page,orderby,sortby],getvar)|raw }}">
<input type="hidden" name="do" value="update" />
<input type="hidden" name="csrfhash" class="csrfhash" />
{{ ticketpaginator(total_pages,page,getUrl(controller,action,['manage','page','#page#',orderby,sortby])) }}
<table  class="widget-table">
    <thead class="titles">
        <tr>
        	<th><input type="checkbox" id="selectall" /></th>
            <th {% if params.3 == 'fullname' %}class="active"{% endif %}  width="250"><a href="{{ getUrl(controller,action,['manage','page',page,'fullname',(params.4=='desc'?'asc':'desc')],getvar)|raw }}">{{ LANG.FULL_NAME }}</a></th>
            <th {% if params.3 == 'email' %}class="active"{% endif %}  width="240"><a href="{{ getUrl(controller,action,['manage','page',page,'email',(params.4=='desc'?'asc':'desc')],getvar)|raw }}">{{ LANG.EMAIL }}</a></th>
            <th {% if params.3 == 'status' %}class="active"{% endif %}><a href="{{ getUrl(controller,action,['manage','page',page,'status',(params.4=='desc'?'asc':'desc')],getvar)|raw }}">{{ LANG.STATUS }}</a></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    {% if users|is_array %}
    {% for r in users %}
	{% set tdclass = (tdclass == 'trzebra'?'':'trzebra') %}
	<tr class="{{ tdclass }}">
        <td width="15"><input type="checkbox" name="user_id[]" value="{{ r.id }}" class="checkall"></td>
        <td><a href="javascript:void(0);" onclick="showUserForm({{ r.id }})">{{ r.fullname }}</a></td>
        <td><a href="javascript:void(0);" onclick="showUserForm({{ r.id }})">{{ r.email }}</a></td>
        <td>{{ (r.status == 1?LANG.ACTIVE:LANG.SUSPENDED) }}</td>
        <td></td>
	</tr>
	{% endfor %}
    {% else %}
	<tr><td colspan="9"><i>{{ LANG.NOTHING_TO_DISPLAY }}</i></td></tr>	
	{% endif %}
</table>
<div id="options" style="margin-top:20px; display:none;">
    <div id="tabs">
        <ul>
            <li>{{ LANG.MASS_ACTION }}</li>
        </ul>
        <div id="tab1">
            <div id="ctab1">
                <table  class="widget-table-form">
                     <tr>
                        <td width="200">{{ LANG.ACTION }}:</td>
                        <td>
                        <select name="suspend">
                        	<option>-- {{ LANG.NONE }} --</option>
                            <option value="1">{{ LANG.UNSUSPEND }}</option>
                            <option value="0">{{ LANG.SUSPEND }}</option>
                        </select>
                        </td>
                    </tr>
                     <tr>
                        <td width="200">{{ LANG.REMOVE }}:</td>
                        <td>
                        <select name="remove">
                            <option value="">{{ LANG.NO }}</option>
                            <option value="1">{{ LANG.YES }}</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" name="btn" value="Update" /></td>
                    </tr>
                </table>
            </div>
        </div>
	</div>
</div>
</form>
<div class="clear"></div>
{% endblock %}